<div class="flex-item flex__item--p0 flex__item--flex-paragraph-form">
    <div class="flex-item-rim flex__item__rim--no-bg">
        <div class="flex-item-content">
            <div class="flex__item__form-body">
                @Html.Sitecore().Placeholder("form")
            </div>
        </div>
    </div>
</div>