<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!--
      <renderField>
        <processor 
                  type="Website.Pipelines.RenderField.AddEmoticon, Website"
                  patch:before="processor[@type='Sitecore.XA.Feature.ContentTokens.Pipelines.RenderField.RenderContentToken, Sitecore.XA.Feature.ContentTokens']"/>
      </renderField>
      -->
    </pipelines>
  </sitecore>
</configuration>